[submodule "learning-cxx"]
	path = learning-cxx
	url = https://github.com/Simon25772/learning-cxx.git
[submodule "rustlings"]
	path = rustlings
	url = https://github.com/Simon25772/rustlings.git
[submodule "learning-lm-rs"]
	path = learning-lm-rs
	url = https://github.com/Simon25772/learning-lm-rs.git
