[submodule "exams"]
	path = exams
	url = https://github.com/Simon25772/test.git
[submodule "learning-cxx"]
	path = learning-cxx
	url = https://github.com/Simon25772/learning-cxx.git
[submodule "rustlings"]
	path = rustlings
	url = https://github.com/Simon25772/rustlings.git
